<ion-view view-title="GRE Word List">
<div class="bar bar-header bar-royal">
  <h1 class="title">bar-royal</h1>
</div>
  <ion-content>
    <!-- landing content starts here -->
      <ion-item href="#/app/playlists/a">A
      </ion-item>
      <ion-item href="#/app/playlists/b">B
      </ion-item>
      <ion-item href="#/app/playlists/c">C
      </ion-item>
      <ion-item href="#/app/playlists/f">F
      </ion-item>
    <div class="row">
      <div class="col">
        <div class="wl l2">B</div>
      </div>
      <div class="col">
        <div class="wl l3">C</div>
      </div>
      <div class="col">
        <div class="wl l4">D</div>
      </div>
      <div class="col">
        <div class="wl l5">E</div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="wl l6">F</div>
      </div>
      <div class="col">
        <div class="wl l7">G</div>
      </div>
      <div class="col">
        <div class="wl l8">H</div>
      </div>
      <div class="col">
        <div class="wl l9">I</div>
      </div>
      <div class="col">
        <div class="wl l10">J</div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="wl l11">K</div>
      </div>
      <div class="col">
        <div class="wl l12">L</div>
      </div>
      <div class="col">
        <div class="wl l13">M</div>
      </div>
      <div class="col">
        <div class="wl l14">N</div>
      </div>
      <div class="col">
        <div class="wl l15">O</div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="wl l16">P</div>
      </div>
      <div class="col">
        <div class="wl l16">Q</div>
      </div>
      <div class="col">
        <div class="wl l18">R</div>
      </div>
      <div class="col">
        <div class="wl l19">S</div>
      </div>
      <div class="col">
        <div class="wl l20">T</div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="wl l21">U</div>
      </div>
      <div class="col">
        <div class="wl l22">V</div>
      </div>
      <div class="col">
        <div class="wl l23">W</div>
      </div>
      <div class="col">
        <div class="wl l24">X</div>
      </div>
      <div class="col">
        <div class="wl l25">Y</div>
      </div>
    </div>
    <div class="row">
      <div class="col col-20">
        <div class="wl l26">Z</div>
      </div>
    </div>
    <!-- end of landing content -->
  </ion-content>
</ion-view>
