<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-royal">
    <h1 class="title">Word List</h1>
  </ion-header-bar>
  <ion-content>
    <!-- content comes here -->
  </ion-content>
</ion-modal-view>
