.wl {
	background-color: #0a9dc7;
	text-align: center;
	padding: 20px 0;
	font-size: 20px;
    color: #fafafa;
    border-radius: 3px;

}
/*.wl.l1 {
	background-color: #0a9dc7;
}
.wl.l2 {
	background-color: #28a54c;
}*/
